*
!*/
# Ensures the .git directory is included when release-plz copies the project in a temp dir
!.git/
!.git/**

/target

!.gitignore
!.gitattributes
!/crates/**/*.rs
!/crates/**/Cargo.toml
!/Cargo.toml
!/Cargo.lock
!justfile
!rust-toolchain.toml
!rustfmt.toml
!ruff.toml
!pyproject.toml
!uv.lock
!.python-version
!/README.md
!/LICENSE
!notebooks/**/*.ipynb
!/notebooks/**/*.py
!/plots/*.png
!/python/**/*.py
!/python/**/py.typed
!/notebooks/__init__.py
!/.cargo/config.toml
!/python/**/README.md
!/crates/is-it-slop/model_artifacts/.gitkeep
!.pre-commit-config.yaml
!/.github/workflows/**/*.yaml
!release-plz.toml
!/crates/**/CHANGELOG.md
