*
!*/
# Ensures the .git directory is included when release-plz copies the project in a temp dir
!.git/
!.git/**

/target

!.gitignore
!.gitattributes
!/crates/**/*.rs
!/crates/**/README.md
!/crates/**/Cargo.toml
!/Cargo.toml
!/Cargo.lock
!justfile
!install.sh
!rust-toolchain.toml
!rustfmt.toml
!ruff.toml
!pyproject.toml
!uv.lock
!.python-version
!/README.md
!/LICENSE
!notebooks/**/*.ipynb
!/notebooks/**/*.py
!/plots/*.png
!/plots/*.svg
!/python/**/*.py
!/python/**/py.typed
!/python/**/LICENSE
!/notebooks/__init__.py
!/.cargo/config.toml
!/python/**/README.md
!.pre-commit-config.yaml
!/.github/workflows/**/*.yaml
!/.github/workflows/**/*.md
!release-plz.toml
!/crates/**/CHANGELOG.md
/notebooks/raid_bench.*
!.taplo.toml
!.vscode/settings.json
!assets/pink-307853.svg
!model_artifacts/.gitkeep
!data/.gitkeep
!/android/**/*.kt
