*
!*/
/target

!.gitignore
!/crates/**/*.rs
!/crates/**/Cargo.toml
!/Cargo.toml
!/Cargo.lock
!justfile
!rust-toolchain.toml
!rustfmt.toml
!ruff.toml
!pyproject.toml
!uv.lock
!.python-version
!/README.md
!/LICENSE
!notebooks/**/*.ipynb
!/python/**/*.py
!/python/**/py.typed
!/notebooks/__init__.py
!/.cargo/config.toml
!/python/**/README.md
!/crates/is-it-slop/model_artifacts/.gitkeep
!.pre-commit-config.yaml
!/.github/workflows/**/*.yml
!/.github/workflows/**/*.yaml
!release-plz.toml
